<ion-grid class="ion-no-padding">
  <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
    <ion-col class="label" size="8">{{'liquidpool_wallet'|translate}}</ion-col>
    <ion-col id="xtoken-balance" class="ion-text-right number" size="4"
      >{{todoValue | truncate:'--'}}
    </ion-col>
  </ion-row>
  <ion-row
    class="ion-align-items-center ion-align-self-center conversionPrice"
    *ngIf="isShowHadValue"
  >
    <ion-col class="label" size="8"
      >{{'kccfe'|translate}}

      <img
        class="alert-icon"
        src="./assets/images/question.png"
        tooltip
        event="hover"
        tipsContent="pool_tooltips_redeemliquid_xtokens"
      />
    </ion-col>
    <ion-col class="ion-text-right number" size="4"
      >{{hadValue | truncate:'--'}}
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
    <ion-col class="label" size="8"> {{'oracle_cost' | translate}} </ion-col>
    <ion-col class="ion-text-right number" size="4">
      +{{oracleCost | truncate:'--'}} ETH
    </ion-col>
  </ion-row>
</ion-grid>
sss
