.conversionPrice,
.langrow {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: var(--black);
  border: 0;
}
.conversionPrice:hover,
.conversionPrice:active {
  background-color: var(--porcelain);
  cursor: pointer;
}

.first-row {
  border-top: 1px solid var(--mercury);
}
.select-content {
  margin: 26px 0px;
}
.select-lang {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--dove);
  margin: 10px 20px;
}
.langrow {
  margin: 0px 20px 5px 20px;
}
ion-button {
  width: 175px;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  --box-shadow: none;
  justify-content: flex-start;
  --border-radius: 7px;
  margin: 10px 0px 10px 0px;
}
img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.button-filled .ion-button-label {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
}

.text-align {
  text-align: left;
}
@media only screen and (max-width: 820px) {
  ion-button {
    width: 90%;
  }
  .text-align {
    text-align: right !important;
  }
  .select-content {
    margin: 0px;
  }
}

.title {
  height: 41px;
  font-size: 24px;
  margin-bottom: 10px;
}

.title ion-col {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.links-mobile {
  border-top: solid 1px var(--mercury);
  border-bottom: solid 1px var(--mercury);
}

.close-img {
  position: relative;
  right: -150px;
  top: -33px;
  cursor: pointer;
}
