<ion-grid class="connect-modal">
  <ion-row class="title ion-align-items-center ion-align-self-center">
    <ion-col class="ion-text-center" size="12">
      {{'connect_title' | translate}}
      <div class="img-div" (click)="close()">
        <img src="assets/images/close.png" class="close-img" />
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-align-self-center">
    <ion-col class="desc ion-text-center" size="12"
      >{{'connect_desc' | translate}}</ion-col
    >
  </ion-row>
  <div class="menu-divider"></div>
  <ion-list class="ion-no-padding">
    <ion-radio-group [(ngModel)]="walletType">
      <ion-item *ngFor="let wallet of walletList" lines="full">
        <ion-label class="connect"
          ><img src="assets/images/{{wallet.id}}.png" /> {{wallet.desc |
          translate}}</ion-label
        >
        <ion-radio
          id="{{wallet.id}}"
          value="{{wallet.id}}"
          color="secondary"
          (click)="connect(wallet.id)"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-grid>
