@media only screen and (max-width: 510px) {
  ion-toggle {
    --handle-width: 35.99px !important;
    --handle-height: 13.99px !important;
    --handle-border-radius: 14px 4px 4px 14px;
  }
}

.disabled-btn {
  ::ng-deep {
    .button-disabled {
      --background: #bbdda2 !important;
    }
  }
}

.outline-btn {
  ::ng-deep {
    .button-disabled {
      --background: white;
    }
  }
}

.underline {
  cursor: pointer;
  color: var(--lightgray);
}
