<app-header [activeId]="'liquid'" (onRefresh)="refreshPage()"></app-header>
<ion-content [fullscreen]="true">
  <div class="card-title">{{'liquid_desc' | translate}}</div>

  <ion-card class="swap-card" *ngIf="!showAddModel">
    <div class="card-content">
      <app-liquid-input
        class="liquid-input"
        (onChangeCoin)="changeCoin($event)"
        [coin]="toCoin.id"
      ></app-liquid-input>
      <ion-button
        expand="block"
        class="operation-btn approve-btn"
        (click)="addLiquid(toCoin.id)"
      >
        <div class="ion-button-label">{{'add_liquid'| translate}}</div>
      </ion-button>
    </div>
  </ion-card>
  <!--
  <div
    class="liquid-div"
    *ngIf="shareStateQuery.getValue().connectedWallet && !pairAttended.USDT &&  !this.pairAttended.HBTC && !showAddModel && !showRedemtionModel"
  >
    <div
      class="no-liquid"
      *ngIf="shareStateQuery.getValue().connectedWallet && !pairAttended.USDT &&  !this.pairAttended.HBTC"
    >
      <img src="./assets/images/1.png" />
      <p>{{'no_add_liquid'| translate}}</p>
    </div>
  </div> -->
  <ng-container *ngIf="(!showAddModel && !showRedemtionModel)">
    <div class="card-title claim-title">
      {{'liquid_claim_desc' | translate}}
    </div>
    <ng-container *ngFor="let coinItem of coinList">
      <ion-card class="swap-card liquid-info">
        <!--*ngIf="showLiquidInfo && !showRedemtionModel"-->
        <div class="card-content motoken">
          <ion-grid class="mtoken_banner">
            <ion-row class="ion-align-items-center ion-align-self-center  earned-rate" 
                (click)="showMore(coinItem)">
              <ion-col size="2" class="token_icon_col" *ngIf="isDisplay()">
                <img class="ETH_icon" src="./assets/images/icon/ETH.png" />

                <img
                  class="token_icon"
                  src="./assets/images/icon/{{coinItem}}.png"
                />
              </ion-col>
              <ion-col class="ion-text-left">ETH-{{coinItem}}</ion-col>
              <ion-col
                size="{{colSize}}"
                class="ion-text-right"
              >
                <span class="balance"
                  >{{earnedRate[coinItem]?.rewardRate | _balance:'--' |
                  _truncate}} CoFi/Day</span
                >
                <img
                  src="./assets/images/select.png"
                  class="pull_img"
                  [ngClass]="{'rotate':isRotate[coinItem]}"
              /></ion-col>
            </ion-row>
          </ion-grid>
          <ng-container *ngIf="isRotate[coinItem]">
            <app-explain-liquid
              [todoValue]="todoValue[coinItem]"
              [NAVPerShare]="NAVPerShare[coinItem]"
              [hadValue]="hadValue[coinItem]"
              [coin]="coinItem"
            ></app-explain-liquid>
            <div
              class="button-div"
              *ngIf="shareStateQuery.getValue().connectedWallet"
            >
              <ion-button
                expand="block"
                class="operation-btn approve-btn small-btn"
                (click)="addLiquid(coinItem)"
              >
                <div class="ion-button-label">{{'add' | translate}}</div>
              </ion-button>
              <ion-button
                fill="outline"
                class="operation-btn small-btn"
                (click)="redemption(coinItem)"
              >
                <div class="ion-button-label">{{'sh' | translate}}</div>
              </ion-button>
            </div>
          </ng-container>
        </div>
      </ion-card>
    </ng-container>
  </ng-container>

  <app-add-liquid
    #addLiquidView
    *ngIf="showAddModel"
    [pairAttended]="pairAttended"
    [coin]="selectCoin"
    (onClose)="closeAddLiquid($event)"
  ></app-add-liquid>
  <app-redeem-liquid
    #redeemLiquidView
    *ngIf="showRedemtionModel"
    (onClose)="closeRedeemLiquid($event)"
    [coin]="selectCoin"
  ></app-redeem-liquid>

  <app-warning-liquid></app-warning-liquid>
  <app-banner
    [img]="'pool1_bg.png'"
    [bannerConent]="liquidContent"
  ></app-banner>

</ion-content>
<app-footer (onRefresh)="refreshPage()"></app-footer>
