<div class="card-content">
  <div class="title">
    <b>{{'redeem_legacy_title' | translate}} </b>
    <div class="img-div" (click)="close()">
      <img src="assets/images/close.png" class="close-img" />
    </div>
  </div>

  <ng-container *ngFor="let coin of coinList;let i=index">
    <div clas="coin-item">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-align-self-center">
          <ion-col size="8">
            <div class="input-group-text">
              <img src="./assets/images/icon/ETH.png" class="coin_icon" /><img
                src="./assets/images/icon/{{coin}}.png"
                class="coin_icon right_icon"
              />&nbsp;<span
                >ETH-{{coin}} {{'miningpool_title' | translate}}</span
              >
            </div>
            <div style="color: #808080; margin-top: 10px">
              {{'redeem_legacy_balance' | translate}} {{balance[coin]}}
            </div>
          </ion-col>
          <ion-col size="4">
            <app-action-button
              [btnTitle]="'redeem_legacy'"
              [btnId]="'qc-btn'"
              [isEnabled]="canNotRedeem(i)"
              (clickAction)="redeem(coin)"
            ></app-action-button>
          </ion-col>
        </ion-row>
      </ion-grid></div
  ></ng-container>
</div>
