<ion-header>
  <div class="title_box">
    <img src="./assets/images/logo.png" class="logo logo_w" />
    <img src="./assets/images/logo.ico" class="logo logo_s" />
  </div>

  <div class="tabs">
    <div
      *ngFor="let item of headerItems"
      class="{{item.id === activeId?'active':''}}"
      (click)="selectTab(item.id)"
    >
      {{'title_'+item.title | translate}}
    </div>
  </div>
  <div class="tools">
    <app-connect-wallet
      (onConnected)="onConnected()"
      class="header-Wallet"
    ></app-connect-wallet>
    <app-switch-lang></app-switch-lang>
  </div>
</ion-header>
