.coin_icon {
  width: 32px;
  height: 32px;
}
@media only screen and (max-width: 510px) {
  .coin_icon {
    width: 25px !important;
    height: 25px !important;
  }
}

.title {
  margin-top: 10px;
  height: 41px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}
.title ion-col {
  font-size: 24px;
}
.close-img {
  width: 24px;
  height: 24px;
  position: relative;
  right: 0px;
  top: -5px;
  cursor: pointer;
}
.conversionPrice {
  min-height: 74px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.img-div:hover {
  background-color: var(--porcelain);
  border-radius: 50%;
}
.img-div {
  width: 32px;
  height: 32px;
  position: relative;
  right: -285px;
  top: -43px;
}
.conversionPrice:hover,
.conversionPrice:active {
  background-color: var(--porcelain);
  cursor: pointer;
}
.token-logo {
  margin-left: 16px;
}
.first-row {
  border-top: 1px solid var(--mercury);
}
.searchbar {
  --box-shadow: 0;
  --background: rgba(142, 142, 147, 0.12);
  --border-radius: 10px;
}
.token-list {
  height: 100%;
  overflow: auto;
}

.scroll-note {
  font-size: 13px;
  padding-left: 20px;
}

ion-searchbar {
  ::ng-deep {
    .searchbar-clear-icon,
    .searchbar-search-icon {
      display: none !important;
    }
  }
}
.address {
  font-size: 17px;
  color: rgba(142, 142, 147, 0.9);
}

.unremove {
  color: var(--danger);
  opacity: 0.4;
}

.skeleton-token{
  height:16px;
}

.token-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 510px) {
  .conversionPrice {
    min-height: 64px !important;
  }
}

.scroll-note {
  ::ng-deep {
    div > p {
      margin: 0;
    }
  }
}
