<ion-grid class="select-header">
  <ion-row class="title ion-align-items-center ion-align-self-center">
    <ion-col class="ion-text-center" size="12">
      {{'select_token' | translate}}
      <div class="img-div" (click)="close()">
        <img src="assets/images/close.png" class="close-img" />
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-align-self-center">
    <ion-col class="ion-text-center" size="12">
      <ion-searchbar
        class="searchbar"
        placeholder="{{'search_placeholder' | translate}}"
        [(ngModel)]="queryToken"
        (ionChange)="searchToken($event)"
      ></ion-searchbar>
    </ion-col>
    <ion-col class="scroll-note" size="12">
      <div
        innerHTML="{{'scroll_note' | translate: {tokenCount:tokenCount} | marked}}"
      ></div>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="token-list">
  <ion-content>
    <ion-grid class="select-content">
      <ng-container *ngFor="let coin of coinList;let i=index">
        <ion-row
          id="{{coin.symbol}}"
          (click)="selectCoin($event,coin)"
          class="ion-align-items-center ion-align-self-center conversionPrice {{i==0?'first-row':''}}"
        >
          <ion-col size="9" class="token-item">
            <img src="{{coin.logoURI}}" class="coin_icon" />&nbsp;
            <div>
              <ng-container *ngIf="coin.symbol =='ETH'"
                >{{coin.symbol}}
              </ng-container>
              <ng-container *ngIf="coin.symbol!=='ETH'">
                {{coin.symbol}}
                <span class="address">{{coin.address | walletaddress:8}} </span>
              </ng-container>
            </div>
          </ion-col>
          <ion-col
            size="3"
            class="absolute right-0 text-base ion-text-right pr-4"
          >
            <div *ngIf="coin.id!==undefined">
              <img
                id="remove"
                src="./assets/images/heart.svg"
                class="w-4.5 {{selectedCoin === coin.symbol?'unremove':''}}"
              />
            </div>
            <div [appSkeleton]="!coin.balance" [skCss]="'skeleton-token'">
              {{coin.balance | truncate:'':2}}
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

    <ion-infinite-scroll
      #infiniteScroll
      immediate-check="false"
      threshold="-5%"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more tokens..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>
