.coin_icon {
  width: 40px;
  height: 40px;
}

.title {
  margin-top: 18px;
  height: 41px;
  font-size: 24px;
}
.title ion-col {
  font-size: 24px;
}
.close-img {
  width: 24px;
  height: 24px;
  position: relative;
  right: -4px;
  top: 4px;
  cursor: pointer;
}
.conversionPrice {
  height: 74px;
  font-size: 24px;
  color: black;
  cursor: pointer;
}
.img-div:hover {
  background-color: var(--porcelain);
  border-radius: 50%;
}
.img-div {
  width: 32px;
  height: 32px;
  position: relative;
  right: -285px;
  top: -43px;
}
.conversionPrice:hover,
.conversionPrice:active {
  background-color: var(--porcelain);
  cursor: pointer;
}
.token-logo {
  margin-left: 16px;
}
.first-row {
  border-top: 1px solid var(--mercury);
}
.searchbar {
  --box-shadow: 0;
  --background: rgba(142, 142, 147, 0.12);
  --border-radius: 10px;
}
.token-list {
  height: 100%;
  overflow: auto;
}

.scroll-note {
  font-size: 13px;
  padding-left: 20px;
}

ion-searchbar {
  ::ng-deep {
    .searchbar-clear-icon,
    .searchbar-search-icon {
      display: none !important;
    }
  }
}
.address {
  font-size: 17px;
}
