<app-header [activeId]="'dividend'" class="web-header"></app-header>
<ion-content [fullscreen]="true">
  <app-header [activeId]="'dividend'" class="mobile-header"></app-header>
  <div class="main-content">
    <ng-container *ngIf="!isShowModal">
      <ion-card class="swap-card display-card">
        <div>{{'locked_DAO' | translate}}</div>
        <div>{{daoLockAmount | truncate:'--'}}</div>
      </ion-card>
      <div class="double-card">
        <ion-card class="swap-card display-card">
          <div>{{'repurchase_amount' | translate}}</div>
          <div>{{daoRedeemAmount | truncate:'--'}}</div>
        </ion-card>
        <ion-card class="swap-card display-card">
          <div>{{'current_circulation' | translate}}</div>
          <div>{{totalETHFromSwapFees | truncate:'--'}}</div>
        </ion-card>
      </div>
      <app-warning-dividend *ngIf="canShow()"></app-warning-dividend>
      <ion-card class="swap-card">
        <div class="card-content">
          <app-cofi-card
            [todoLabel]="'kcr_text'"
            [hadLabel]="'ycr_text'"
            [todoValue]="cofiToken"
            [cofiETHPrice]="cofiETHPrice"
            [ethBalance]="ethBalance"
            [totalETHInDividendPool]="totalETHInDividendPool"
            [isApproved]="isApproved"
            [isLoading]="isLoadingProfit"
            (onApprove)="approveCofi($event)"
            (onSave)="saveCofi($event)"
            (onRecieve)="receiveCofi($event)"
            (onCoinInputChange)="resetReceiveError()"
            (onSetCoinMax)="resetReceiveError()"
            [profitCoin]="profitCoin"
            [transcationError]="incomeError"
            [isDeposit]="profit.isDeposit"
          >
          </app-cofi-card>
        </div>
      </ion-card>
      <app-tip-pannel
        [tipPannelContent]="incomeContent"
        class="desc_line"
      ></app-tip-pannel>
    </ng-container>
  </div>
</ion-content>
<app-footer></app-footer>
