.header {
  border-bottom: 1px solid var(--mercury);
}

.operation-btn {
  margin: 32px 0;
  width: 100%;
}

.operation-btn {
  --border-width: 1px;
}

.swap-card {
  margin-top: 26px;
}

.tokens-icon {
  width: 24px;
  height: 24px;
}

.claimETH .conversionPrice {
  margin-top: 5px;
}

.claimETH .number {
  font-size: 17px;
  height: unset;
  font-weight: bold;
}

.title {
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
}

.claimETH {
  padding-bottom: 10px;
}
