<ion-card class="swap-card" [ngClass]="{'pairAttended-card':pairAttended}">
  <div class="card-content">
    <img src="./assets/images/left-arrow.png" class="close-img" (click)="cancel()">
    <app-card-title [cardTitle]="'liquidpool_add'" [cardSubTitle]="'liquidpool_add_subtitle'"></app-card-title>
   
    <app-coin-input
      #fromCoinInputView
      (onMaxClick)="setFromCoinMax($event)"
      [amount]="fromCoin.amount"
      (onInputChange)="fromCoinInput($event)"
      [isDropDown]="isDropDown"
      [coin]="fromCoin.id"
      [maxAmount]="fromCoin.balance"
      [isShowError]="showFromError"
      [isShowBlance]="showBalance"
      [isShowMax]="isShowFromMax" [label]="'input'"

    ></app-coin-input>
    <div class="divider-swap"></div>
    <app-coin-input
      #toCoinInputView
      (onMaxClick)="setToCoinMax($event)"
      [amount]="toCoin.amount"
      (onInputChange)="toCoinInput($event)"
      [isDropDown]="isDropDown"
      [coin]="toCoin.id"
      [maxAmount]="toCoin.balance"
      [isShowError]="showToError"
      [isShowBlance]="showBalance"
      [isShowMax]="isShowToMax" [label]="'input'"
    ></app-coin-input>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
        <ion-col class="label" size="6">{{'oracle_cost' | translate}}</ion-col>
        <ion-col class="ion-text-right number" size="6">+{{oracleCost | truncate:'--'}} ETH
        </ion-col>
      </ion-row>
      <ion-row
        class="ion-align-items-center ion-align-self-center conversionPrice"
      >
        <ion-col class="label" size="8"
          >{{'expected' | translate}}<img class="alert-icon" src="./assets/images/question.png" (click)="showAlert('jgsm_title','jgsm_cont')" /></ion-col
        >
        <ion-col class="ion-text-right number" size="4"
          >{{expectedXToken | truncate:'--'}}
        </ion-col>
      </ion-row>

      <ion-row
        class="ion-align-items-center ion-align-self-center conversionPrice"
      >
        <ion-col class="label" size="10"
          >{{'incoin_cofi' | translate}}<img class="alert-icon" src="./assets/images/question.png" (click)="showAlert('jgsm_title','jgsm_cont')" /></ion-col
        >
        <ion-col class="ion-text-right" size="2">
          <ion-toggle [(ngModel)]="isStake"></ion-toggle>
        </ion-col>
      </ion-row>
        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice" *ngIf="addLiquidError.isError">
          <ion-col class="error" size="12">{{'transaction-error' | translate}}[{{addLiquidError.msg}}]</ion-col>
        </ion-row>
    </ion-grid>
    <ion-button
      expand="block"
      class="operation-btn approve-btn"
      (click)="approve()"
      *ngIf="canApprove()"
    >
      <div class="ion-button-label">
        {{'sq_text' | translate}}
        <div class="loading" *ngIf="isLoading.sq"></div>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      class="operation-btn"
      (click)="confirmAddLiquid()"
      *ngIf="shareStateQuery.getValue().connectedWallet"
      [disabled]="!canAdd()"
    >
      <div class="ion-button-label">
        {{'add'| translate}}
        <div class="loading" *ngIf="isLoading.cr"></div>
      </div>
    </ion-button>
  </div>
</ion-card>
