:host {
  color: black;
  display: inline-block;
  position: fixed;
  padding: 15px 25px;
  font-size: 15px;
  width: 320px;
  border-radius: 16px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px var(--mercury);
  background-color: var(--white);
  z-index: 100000;
}
:host.has-arrow:before {
  content: '';
  border: 5px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
}
.tooltips {
  padding: 22px 24px;
}
.tooltips .title {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  --ion-text-color: var(--mine);
  text-align: left;
}
.tooltips div {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--mine);
  text-align: left;
}
:host.has-arrow.arrow-top:before {
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  top: -10px;
}
:host.has-arrow.arrow-left:before {
  border-right: 5px solid rgba(0, 0, 0, 0.8);
  left: -10px;
}
:host.has-arrow.arrow-right:before {
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  right: -10px;
}
:host.has-arrow.arrow-bottom:before {
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  bottom: -10px;
}
