:host ::ng-deep app-coin-input.coin-input {
  .input-group > .input {
    border-left: none;
  }
}
.conversionPrice img {
  width: 24px;
  height: 24px;
}
.choose-div {
  font-size: 17px;
  line-height: 34px;
  color: black;
  height: 50px;
}
.choose-div ion-col {
  height: 40px;
}
.button-div {
  width: 100%;
}
@media only screen and (max-width: 510px) {
  ion-toggle {
    height: 14px;
    width: 35px;
    --handle-width: 50%;
  }
}

.redeemError {
  margin-top: 15px;
}

.swap-card {
  margin-top: 26px;
}
.claimETH {
  margin-top: 16px;
  height: unset;
}
.claimETH .number {
  font-size: 17px;
  height: unset;
}
.title {
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
}
.title-alert {
  width: 18px !important;
  height: 18px !important;
}
