<div class="input-div">
  <p>{{ label| translate}}</p>
  <div class="input-group">
    <div
      class="input-group-prepend"
      (click)="showCoinSelect($event)"
      *ngIf="showSelect"
    >
      <span class="input-group-text"
        ><img
          src="./assets/images/icon/{{coin}}.png"
          class="coin_icon"
        />&nbsp;<span class="coin-title">{{coin}}</span> &nbsp;<img
          *ngIf="isDropDown"
          src="./assets/images/select.png"
          class="sel"
        />&nbsp;</span
      >
    </div>
    <input
      type="number"
      class="input"
      style="--width:{{'calc(100% - '+ (showSelect?150:70) + 'px)'}}"
      placeholder="{{placeHolder}}"
      [(ngModel)]="amount"
      oninput="value=value.replace(/^\D*(\d*(?:\.\d{0,8})?).*$/g, '$1')"
      (ngModelChange)="txtChanged($event)"
      [disabled]="disabled"
    />
  </div>
  <ion-grid class="ion-no-padding info-box">
    <ion-row class="ion-align-items-center ion-align-self-center">
      <ion-col class="balance-info" size="10">
        <div *ngIf="isShowBlance && !isShowError">
          <ng-container *ngIf="!showSkeleton(maxAmount)">
            <span>{{'your_balance' | translate}}</span>：<span
              >{{maxAmount | truncate:'--'}}
            </span>
            {{coin}}
          </ng-container>
          <ng-container *ngIf="showSkeleton(maxAmount)">
            <ion-skeleton-text animated class="skeleton"></ion-skeleton-text>
          </ng-container>
        </div>

        <div *ngIf="isShowError" class="error">
          <span>{{'your_balance' | translate}}</span>：<span
            >{{maxAmount | truncate:'--'}}</span
          >
          {{coin}}
        </div>
        <div *ngIf="isInsufficientError" class="error">
          <span>{{'insufficient-error' | translate}}</span>
        </div>

        <div *ngIf="overLiquid()" class="error">
          <span>{{'token_balance_of_pair' | translate}} {{maxLiquid}}</span>
        </div>
      </ion-col>
      <ion-col class="ion-text-right max" size="2">
        <span (click)="setMax()" *ngIf="isShowMax">MAX</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
