/*.input-div {
  border-bottom: 1px solid var(--mercury);
}*/
.info-box {
  margin: 10px 0px;
}
.input-group {
  height: 50px;
}

.input {
  width: 100%;
  background: unset;
  border: 0;
  text-align: right;
  font-size: 36px;
  color: black;
}

.coin-title {
  font-size: 34px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 510px) {
  .input {
    font-size: 24px;
  }
  .coin-title {
    font-size: 26px;
  }
  .coin_icon {
    width: 25px !important;
    height: 25px !important;
  }
}
.input-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}

.max {
  color: var(--azure);
  font-size: 17px;
  margin: 4px 0px;
  font-weight: 600;
  cursor: pointer;
}

.coin_icon {
  width: 40px;
  height: 40px;
}

.sel {
  width: 24px;
  height: 24px;
}
.input:focus,
button:focus {
  outline: none;
}

.balance-info {
  font-size: 13px !important;
  color: var(--dove) !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-div {
  border-radius: 4px;
  border: solid 1px var(--alto);
  padding: 0px 16px 5px 16px;
}
