.switch-lang {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  border: solid 1px #979797;
  position: fixed;
  top: 10px;
  right: 40px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .switch-lang {
    display: none;
  }
}
