.claimETH {
  height: 113px;
  border-radius: 4px;
  border: solid 1px var(--concrete);
  background-color: var(--white);
}
.claimETH .number {
  height: 47px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--black);
}
.claimETH .conversionPrice {
  border: 0;
}

.skeleton-earnedeth {
  width: 60%;
  height: 40px;
}
