<ion-grid class="ion-no-padding claimETH">
    <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
        <ion-col class="title" size="10">{{infoTitle | translate}}</ion-col>
        <ion-col size="2" class="ion-text-right">
            <img class="alert-icon title-alert" src="./assets/images/{{questionImgName}}.png" 
            tooltip  event="hover" tipsContent="{{alertContent}}" 
            tipsTitle="{{alertTitle}}" />
        </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
        <ion-col size="2">
            <img class="ETH_icon" src="./assets/images/icon/{{token}}.png" />
        </ion-col>
        <ion-col size="10" class="number" *ngIf="!showSkeleton()">
            {{tokenBalance | truncate:'--':6}}<ng-container *ngIf="showZeroInfo">.00 XTokens</ng-container>
            
        </ion-col>
        <ion-col size="10" class="number" *ngIf="showSkeleton()">
            <ion-skeleton-text animated class="skeleton-earnedeth"></ion-skeleton-text>
        </ion-col>
    </ion-row>
</ion-grid>