.wallet_show {
  margin: 0 auto;
  width: 175px;
  height: 44px;
  border-radius: 8px;
  border: solid 1px #979797;
  /*position: fixed;
  top: 10px;
  right: 100px;*/
  z-index: 99;
  padding: 10px 10px 10px 6px;
  display: inline-flex;
  cursor: pointer;
}
.wallet_show span {
  width: 135px;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #000;
  margin: 0 auto;
}
.wallet_show img {
  width: 24px;
  float: right;
}
@media only screen and (max-width: 820px) {
  .wallet_show {
    display: none;
  }
}
