ion-menu-button {
  color: var(--ion-color-primary);
}
:host ::ng-deep app-banner.desc_line {
  .centent .desc {
    line-height: 25px !important;
  }
}
@media only screen and (max-width: 510px) {
  .content_text_fir {
    width: 95% !important;
    padding-bottom: 15px;
  }
}
.content_text_fir .center {
  width: 88%;
  margin: 0 auto;
}
.center .text1 {
  width: 100%;
  height: 27px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: var(--white);
  line-height: 32px;
}

.connect-card {
  width: 89%;
}
.conversionPrice .title {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--dove);
}
.button-div {
  margin: 32px auto 8px auto;
}

.close-img {
  left: 20px;
}

.swap-card {
  margin-top: 26px;
}
