<ion-content [fullscreen]="true">
  <app-header [activeId]="'income'" (onRefresh)="refreshPage()"></app-header>
  <div class="card-title">{{'income_desc' | translate}}</div>
  <ion-card class="swap-card">
    <div class="card-content">
      <app-profit
        [todoLabel]="'kcr_text'"
        [hadLabel]="'ycr_text'"
        [todoValue]="cofiToken"
        [hadValue]="cofiStakingRewards"
        [isApproved]="isApproved"
        [balance]="balance"
        [isLoading]="isLoadingProfit"
        (onApprove)="approveCofi($event)"
        (onSave)="saveCofi($event)"
        (onRecieve)="receiveCofi($event)"
        (onCoinInputChange)="resetReceiveError()"
        (onSetCoinMax)="resetReceiveError()"
        [profitCoin]="profitCoin"
        [transcationError]="incomeError"
      ></app-profit>
    </div>
  </ion-card>
  <div class="card-title claim-title">{{'income_claim_desc' | translate}}</div>
  <ion-card class="swap-card">
    <div class="card-content">
      <ion-grid class="ion-no-padding">
        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
        >
          <ion-col class="label" size="4">{{'klq'|translate}}</ion-col>
          <ion-col class="ion-text-right" size="8"
            >{{earnedETH | _balance:'--' | _truncate}} ETH
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
          *ngIf="receiveError.isError"
        >
          <ion-col class="error" size="12"
            >{{'transaction-error' | translate}}[{{receiveError.msg}}]</ion-col
          >
        </ion-row>
      </ion-grid>
    </div>
    <div
      class="button-div connect-card"
      *ngIf="shareStateQuery.getValue().connectedWallet"
    >
      <ion-button
        expand="block"
        class="operation-btn full-btn"
        [disabled]="!canReceive"
        (click)="receiveETH()"
      >
        <div class="ion-button-label">
          {{'lq_text' | translate}}
          <div class="loading" *ngIf="isLoading"></div>
        </div>
      </ion-button>
    </div>
  </ion-card>
  <app-banner
    [img]="'sy_bg.png'"
    [bannerConent]="incomeContent"
    class="desc_line"
  ></app-banner>
</ion-content>
<app-footer (onRefresh)="refreshPage()"></app-footer>
