<div class="card-content">
  <div class="title">
    <img src="./assets/images/warning.png" /><b
      >{{'warning_content_title' | translate}}</b
    >{{'warning_content_subtitle' | translate}}
  </div>

  <p>{{'warning_desc1' | translate}}</p>
  <p>
    {{'warning_desc2' | translate}}<b>{{'warning_desc3' | translate}}</b
    >{{'warning_desc4' | translate}}<b>{{'warning_desc5' | translate}}</b
    >{{'warning_desc6' | translate}}
  </p>
  <div class="button-div">
    <ion-button
      id="close-warning-btn"
      expand="block"
      class="operation-btn approve-btn full-btn"
      (click)="close()"
    >
      <div class="ion-button-label">{{'understand_risk' | translate}}</div>
    </ion-button>
  </div>
  <div class="button-outline">
    <ion-button
      fill="outline"
      class="operation-btn approve-btn full-btn"
      (click)="learnMore()"
    >
      <div class="ion-button-label">{{moreDetailTitle | translate}}</div>
    </ion-button>
  </div>
</div>
