.phone_nav {
  height: 100vh;
  background: #081428;
  color: #fff;
}
@media only screen and (max-width: 550px) {
  .phone_nav {
    /*position: fixed;
    top: 0;
    right: 0;*/
  }
}
.cancle_nav {
  font-size: 48px;
  line-height: 12px;
}
.phone_nav .foot_box {
  margin-top: 100px;
}
.flexBox {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  height: 55px;
  margin-top: 15px;
}
.lineBox {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.flexBox .lineBox div {
  display: flex;
  align-items: center;
}
.phone_nav .left {
  width: 7px;
}
.flexBox .lineBox div img {
  width: 20px;
}
.foot_box p {
  margin: 0;
  padding: 0;
  text-indent: 15px;
  font-size: 14px;
  cursor: pointer;
}

:host ::ng-deep app-switch-lang.switch-lang {
  @media only screen and (max-width: 820px) {
    .switchChange {
      display: block;
    }
  }
}
.lang-col {
  height: 60px;
}
