.warning {
  width: 510px;
  border-radius: 16px;
  background-color: #ffefa9;
  padding: 16px 24px;
  margin: 0 auto 25px auto;
  .agree {
    color: var(--danger);
    font-weight: 600;
    margin-top: 10px;
    input {
      filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    }
  }
}
.warning div {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: normal;
  color: var(--black);
}
.warning a {
  color: var(--black);
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}
@media only screen and (max-width: 470px) {
  .warning {
    width: 90% !important;
    height: unset;
  }
  .warning div {
    width: unset;
    height: unset;
  }
}
