:host ::ng-deep app-banner.desc_line {
  .centent .desc {
    line-height: 25px !important;
  }
  .more {
    margin-top: 30px;
  }
}

.connect-card {
  width: 89%;
}

.swap-card {
  margin: 0px auto 25px auto;
}
