<app-header [activeId]="'cofi'" class="web-header"></app-header>
<ion-content [fullscreen]="true">
  <app-header [activeId]="'cofi'" class="mobile-header"></app-header>
  <div class="info-banner">
    <div>
      {{'cofi_info_1' | translate}}<a
        (click)="showLegacyModal('xtoken')"
        class="underline"
        >{{'cofi_info_2' | translate}}</a
      >{{'cofi_info_3' | translate}}
    </div>
  </div>
  <div class="main-content">
    <app-pair-switch
      class="liquid-input"
      (changeCoin)="changeCoin($event)"
    ></app-pair-switch>
    <ion-card class="swap-card">
      <div class="card-content">
        <app-card-title
          [cardTitle]="'cofi_claim_title'"
          [cardSubTitle]="'cofi_claim_desc'"
        ></app-card-title>
        <app-token-info
          [infoTitle]="'ywc'"
          [token]="'CoFi'"
          [tokenBalance]="cofiBalance"
        >
        </app-token-info>

        <ion-grid class="ion-no-padding">
          <ion-row
            class="ion-align-items-center ion-align-self-center conversionPrice"
          >
            <ion-col class="label" size="5">{{'dragcoin' | translate}}</ion-col>
            <ion-col class="ion-text-right number" size="7"
              ><div [appSkeleton]="!earnedRate">
                {{earnedRate | truncate:'--'}} {{'mining_speed' | translate}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row
            class="ion-align-items-center ion-align-self-center conversionPrice"
          >
            <ion-col class="label" size="8"
              >{{'cofi_wallet' | translate}}</ion-col
            >
            <ion-col class="ion-text-right number" size="4"
              ><div [appSkeleton]="!todoValue">
                {{todoValue | truncate:'--' }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row
            class="ion-align-items-center ion-align-self-center conversionPrice"
          >
            <ion-col class="label" size="7"
              >{{'cofi_market_price' | translate}}</ion-col
            >
            <ion-col class="ion-text-right number" size="5">
              <div [appSkeleton]="!currentCoFiPrice">
                {{currentCoFiPrice}} USD
              </div>
            </ion-col>
          </ion-row>

          <!-- <ion-row
            class="ion-align-items-center ion-align-self-center conversionPrice"
          >
            <ion-col class="label" size="10"
              >{{'cofi_isdeposit' | translate}}
              <img
                class="alert-icon"
                src="./assets/images/question.png"
                tooltip
                event="hover"
                tipsContent="claim_tooltips_deposit"
              />
            </ion-col>
            <ion-col class="ion-text-right" size="2">
              <ion-toggle
                id="deposit-toggle"
                [(ngModel)]="isDeposit"
              ></ion-toggle>
            </ion-col>
          </ion-row> -->
          <ion-row
            class="ion-align-items-center ion-align-self-center conversionPrice"
            *ngIf="withdrawError.isError"
          >
            <ion-col class="error" size="12"
              >{{'transaction-error' |
              translate}}[{{withdrawError.msg}}]</ion-col
            >
          </ion-row>
        </ion-grid>
        <div class="button-div">
          <app-action-button
            [btnTitle]="'sq_text'"
            [btnId]="'approve-btn'"
            [isLoading]="isLoading.sq"
            (clickAction)="approve()"
            class="w-9/20"
            *ngIf="!isApproved && isDeposit && cofixService.getCurrentAccount()"
          ></app-action-button>

          <app-action-button
            [btnTitle]="claimTitle"
            [btnId]="'claim-cofi-btn'"
            [isLoading]="isLoading.qc"
            [isEnabled]="canNotWithdraw()"
            (clickAction)="withdrawEarnedCoFi()"
            [ngClass]="{'w-9/20':!isApproved  && isDeposit,'w-full':isApproved || !isDeposit || !cofixService.getCurrentAccount()}"
          ></app-action-button>
        </div>
      </div>
    </ion-card>
  </div>
  <app-tip-pannel
    [tipPannelContent]="cofixContent"
    class="desc_line"
  ></app-tip-pannel>
</ion-content>
<app-footer></app-footer>
