<ion-content [fullscreen]="true">
  <app-header [activeId]="'cofi'" (onRefresh)="refreshPage()"></app-header>
  <!--
  <ion-card class="swap-card">
    <app-card-title [cardTitle]="'cofi_desc'" [alertTitle]="'ygck'" [alertContent]="'ygck_cont'"></app-card-title>
    <div class="card-content">
      <app-liquid-input
        class="liquid-input"
        (onChangeCoin)="changeCoin($event)"
      ></app-liquid-input>

      <app-profit
        #cofiProfitView
        class="profit"
        [todoLabel]="'kcshare'"
        [hadLabel]="'ycshare'"
        [todoValue]="todoValue"
        [hadValue]="hadValue"
        [isApproved]="isApproved"
        [isLoading]="isLoadingProfit"
        [balance]="balance"
        (onApprove)="approveCofi($event)"
        (onSave)="saveCofi($event)"
        (onRecieve)="receiveCofi($event)"
        (onCoinInputChange)="resetCofiError()"
        (onSetCoinMax)="resetCofiError()"
        [profitCoin]="profitCoin"
        [coin]="coin"
        [isMore]="true"
        [transcationError]="cofiError"
      ></app-profit>
    </div>
  </ion-card>
-->
  <app-liquid-input class="liquid-input" (onChangeCoin)="changeCoin($event)"></app-liquid-input>
  <ion-card class="swap-card">
    <div class="card-content">
      <app-card-title [cardTitle]="'cofi_claim_title'" [cardSubTitle]="'cofi_claim_desc'"></app-card-title>
      <app-taken-info [infoTitle]="'ywc'" [token]="'CoFi'" [tokenBalance]="earnedRate?.earned"> </app-taken-info>

      <ion-grid class="ion-no-padding">
        

        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
        >
          <ion-col class="label" size="5">{{'dragcoin' | translate}}</ion-col>
          <ion-col class="ion-text-right number" size="7"
            >{{earnedRate?.rewardRate | truncate:'--'}} CoFi/Day
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
          <ion-col class="label" size="8">{{'cofi_already' | translate}}</ion-col>
          <ion-col class="ion-text-right number" size="4">**
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
          <ion-col class="label" size="8">{{'cofi_wallet' | translate}}</ion-col>
          <ion-col class="ion-text-right number" size="4">{{todoValue | truncate:'--' }}
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
          <ion-col class="label" size="8">{{'cofi_market_price' | translate}}</ion-col>
          <ion-col class="ion-text-right number" size="4">**
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice">
          <ion-col class="label" size="8">{{'cofi_isdeposit' | translate}}
            <img class="alert-icon" src="./assets/images/question.png" (click)="showAlert('ygck','ygck_cont')" />
          </ion-col>
          <ion-col class="ion-text-right" size="4">
            <ion-toggle [(ngModel)]="isDeposit"></ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice" *ngIf="withdrawError.isError">
          <ion-col class="error" size="12">{{'transaction-error' | translate}}[{{withdrawError.msg}}]</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div
      class="button-div connect-card"
      *ngIf="shareStateQuery.getValue().connectedWallet"
    >
      <ion-button
        expand="block"
        class="operation-btn full-btn"
        (click)="withdrawEarnedCoFi()"
        [disabled]="!canReceive"
      >
        {{'lq_text' | translate}}
        <div class="loading" *ngIf="isLoading"></div>
      </ion-button>
    </div>
  </ion-card>
  <app-banner
    [bannerConent]="cofixContent"
    class="desc_line"
  ></app-banner>
</ion-content>
<app-footer (onRefresh)="refreshPage()"></app-footer>
