<app-header [activeId]="'swap'"></app-header>
<ion-content>
  <div class="card-title">{{'swap_desc' | translate}}</div>
  <ion-card class="swap-card">
    <div class="card-content">
      <p>{{ 'zf_text'| translate}}</p>

      <app-coin-input
        #fromCoinInputView
        (onMaxClick)="setFromCoinMax($event)"
        (onChangeCoin)="changeFromCoin($event)"
        (onInputChange)="fromCoinInput($event)"
        [amount]="fromCoin.amount"
        [maxAmount]="fromCoin.balance"
        [placeHolder]="fromCoin.placeholder"
        [coin]="fromCoin.id"
        [isShowError]="showError"
        [isShowBlance]="showBalance"
      ></app-coin-input>
      <div class="divider-swap"></div>
      <div class="swap-img">
        <!--<img src="./assets/images/exchange.png" (click)="changeCoin()" /> -->
        <ion-icon name="arrow-down-circle-outline" color="primary"></ion-icon>
      </div>

      <p class="get-text">{{ 'hq_text'| translate}}</p>
      <app-coin-input
        #toCoinInputView
        (onMaxClick)="setToCoinMax($event)"
        (onChangeCoin)="changeToCoin($event)"
        (onInputChange)="toCoinInput($event)"
        [amount]="toCoin.amount"
        [placeHolder]="toCoin.placeholder"
        [coin]="toCoin.id"
        [isInsufficientError]="isInsufficientError"
        [maxLiquid]="ERC20BalanceOfPair[toCoin.id]"
        [isShowMax]="isShowToMax"
      ></app-coin-input>

      <ion-grid class="ion-no-padding">
        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
        >
          <ion-col class="label" size="4"
            >{{'oracle_cost' | translate}}</ion-col
          >
          <ion-col class="ion-text-right" size="8">
            +{{oracleCost}} ETH
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
        >
          <ion-col class="label" size="4"
            >{{'dhjg_text' | translate}}
            <img
              class="alert-icon"
              src="./assets/images/question.png"
              (click)="showAlert('jgsm_title','jgsm_cont')"
          /></ion-col>
          <ion-col class="ion-text-right" size="8"
            >1 <span class="tk1">{{fromCoin.id}}</span> =
            <span class="changePrice"
              >{{changePrice | _balance:'--' | _truncate | _truncate}}</span
            >
            {{toCoin.id}}
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-align-items-center ion-align-self-center conversionPrice"
        >
          <ion-col class="label" size="4">{{'ygck'|translate}}
            <img class="alert-icon" src="./assets/images/question.png" (click)="showAlert('ygck','ygck_cont')"></ion-col>
          <ion-col class="ion-text-right" size="8"
            >{{expectedCofi | _balance:'--' | _truncate}} CoFi
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-align-self-center conversionPrice" *ngIf="swapError.isError">
          <ion-col class="error" size="12">{{'transaction-error' | translate}}[{{swapError.msg}}]</ion-col>
        </ion-row>
      </ion-grid>
      <ng-container *ngIf="shareStateQuery.getValue().connectedWallet">
        <div class="button-div">
          <ion-button
            *ngIf="fromCoin.id !== 'ETH' && !fromCoin.isApproved"
            expand="block"
            class="operation-btn approve-btn"
            (click)="approve()"
          >
            <div class="ion-button-label">
              {{'sq_text' | translate}}
              <div class="loading" *ngIf="isLoading.sq"></div>
            </div>
          </ion-button>
          <ion-button
            expand="block"
            class="operation-btn"
            [ngClass]="{'swap-btn':fromCoin.id !== 'ETH' && !fromCoin.isApproved,'full-btn':fromCoin.id === 'ETH' || (fromCoin.id !== 'ETH' && fromCoin.isApproved)}"
            (click)="swap()"
            [disabled]="!canSwap()"
          >
            <div class="ion-button-label">
              {{'swap_btn' | translate}}
              <div class="loading" *ngIf="isLoading.dh"></div>
            </div>
          </ion-button>
        </div>
      </ng-container>
    </div>
  </ion-card>

  <app-banner
    [img]="'exchanged-bg.png'"
    [bannerConent]="swapContent"
  ></app-banner>
</ion-content>
<app-footer></app-footer>
