.get-text {
  margin-top: 20px;
}
.operation-div {
  margin-top: 40px;
  margin-bottom: 15px;
}
:host(.button-block) .button-native {
  font-size: 16px;
}
.changePrice {
  display: inline-block;
}
.connect-div {
  margin: 20px auto;
}

.swap-img {
  text-align: center;
}
.swap-img img {
  width: 35px;
  cursor: pointer;
  position: relative;
  top: -27px;
}
.swap-img ion-icon {
  width: 45px;
  position: relative;
  top: -30px;
  height: 45px;
}

.show-detail {
  background-color: var(--porcelain);
  border: 0;
}

.price-detail {
  color: var(--mine);
  padding: 11px 16px;
  border-bottom: 1px solid var(--mercury);
}
.price-detail .label {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.price-detail ion-row {
  height: 33px;
  line-height: 33px;
}
.price-detail .number {
  font-size: 17px;
  color: var(--black);
}
.price-detail .exlpain {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}
.price-detail .link a {
  font-size: 17px;
  color: var(--mine);
  font-weight: 400;
  cursor: pointer;
  line-height: 25px;
  border-bottom: 1px solid;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: #4a4a4a;
  border-radius: 50%;
  margin-right: 5px;
}
.dot-line {
  width: 1px;
  height: 25px;
  background-color: #4a4a4a;
  position: relative;
  top: 17px;
  right: -5px;
}
.margin-left {
  margin-left: 1px;
}
.swap-card {
  margin-top: 26px;
}
