.title {
  height: 41px;
  font-size: 24px;
  margin: 10px 0;
}
.title ion-col {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.close-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  right: 0px;
  top: -5px;
}
.img-div:hover {
  background-color: var(--porcelain);
  border-radius: 50%;
}
.img-div {
  width: 32px;
  height: 32px;
}
.account-info {
  padding-bottom: 15px;
  .label {
    font-size: 15px;
    margin: 10px 0;
    height: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--dove);
  }
}

.tx-statusimg {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.tx-title {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.tx-desc {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--mine);
}

.tx-link {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--azure);
  cursor: pointer;
}
.close-btn {
  display: block;
  margin-top: 10px;
}
